<div
    class="fixed bottom-0 top-0 w-full sm:w-96 lg:sticky lg:left-full lg:h-screen lg:w-16 lg:shadow"
>
    <div
        class="bg-card flex h-full w-full flex-col transition-transform duration-400 ease-drawer sm:w-96"
        [ngClass]="{
            '-translate-x-full shadow sm:-translate-x-96 lg:-translate-x-80':
                opened,
            'translate-x-0':
                !opened
        }"
    >

        <!-- ================================================== -->
        <!-- HEADER -->
        <!-- ================================================== -->

        <div
            class="quick-chat-header flex flex-0 cursor-pointer items-center"
            (click)="toggle()"
        >

            <div
                class="flex flex-auto items-center"
            >

                <div
                    class="flex w-16 flex-0 items-center justify-center"
                >

                    <mat-icon
                        class="icon-size-6"
                        [svgIcon]="'heroicons_outline:cpu-chip'"
                    ></mat-icon>

                </div>


                <div
                    class="text-lg font-medium"
                >
                    Assistant IA
                </div>


                <button
                    class="ml-auto mr-4"
                    mat-icon-button
                    type="button"
                    (click)="$event.stopPropagation(); close()"
                >

                    <mat-icon
                        [svgIcon]="'heroicons_outline:x-mark'"
                    ></mat-icon>

                </button>

            </div>

        </div>


        <!-- ================================================== -->
        <!-- CONTENT -->
        <!-- ================================================== -->

        <div
            class="flex flex-auto overflow-hidden border-t"
        >

            <div
                class="flex flex-auto flex-col overflow-hidden border-l bg-gray-50 dark:bg-transparent"
            >


                <!-- ================================================== -->
                <!-- MESSAGES -->
                <!-- ================================================== -->

                <div
                    class="quick-chat-messages flex flex-auto flex-col overflow-y-auto overscroll-y-contain"
                    fuseScrollbar
                    [fuseScrollbarOptions]="{
                        wheelPropagation: false
                    }"
                >

                    <div
                        class="flex flex-auto shrink flex-col p-6"
                    >


                        @for (
                            message of messages;
                            track trackByFn($index, message);
                            let i = $index;
                            let first = $first
                        ) {


                            <!-- ================================================== -->
                            <!-- MESSAGE -->
                            <!-- ================================================== -->

                            <div
                                class="flex flex-col"
                                [ngClass]="{

                                    'items-end':
                                        message.isMine,

                                    'items-start':
                                        !message.isMine,

                                    'mt-0.5':
                                        i > 0 &&
                                        messages[i - 1]?.isMine ===
                                            message.isMine,

                                    'mt-3':
                                        i > 0 &&
                                        messages[i - 1]?.isMine !==
                                            message.isMine
                                }"
                            >


                                <!-- ================================================== -->
                                <!-- BUBBLE -->
                                <!-- ================================================== -->

                                <div
                                    class="relative max-w-3/4 rounded-lg px-3 py-2"
                                    [ngClass]="{

                                        'bg-primary text-on-primary':
                                            message.isMine,

                                        'bg-gray-500 text-gray-50':
                                            !message.isMine
                                    }"
                                >

                                    <div
                                        class="min-w-4 leading-5 whitespace-pre-line"
                                        [innerHTML]="message.value"
                                    ></div>

                                </div>


                                <!-- ================================================== -->
                                <!-- TIME -->
                                <!-- ================================================== -->

                                <div
                                    class="text-secondary my-0.5 text-sm font-medium"
                                    [ngClass]="{

                                        'mr-3':
                                            message.isMine,

                                        'ml-3':
                                            !message.isMine
                                    }"
                                >

                                    {{
                                        message.createdAt
                                            | date: 'HH:mm'
                                    }}

                                </div>

                            </div>

                        }


                        <!-- ================================================== -->
                        <!-- LOADING -->
                        <!-- ================================================== -->

                        @if (loading) {

                            <div
                                class="mt-3 flex items-start"
                            >

                                <div
                                    class="rounded-lg bg-gray-500 px-3 py-2 text-gray-50"
                                >

                                    <div
                                        class="flex items-center gap-1"
                                    >

                                        <span
                                            class="animate-pulse"
                                        >
                                            ●
                                        </span>

                                        <span
                                            class="animate-pulse"
                                        >
                                            ●
                                        </span>

                                        <span
                                            class="animate-pulse"
                                        >
                                            ●
                                        </span>

                                    </div>

                                </div>

                            </div>

                        }

                    </div>

                </div>


                <!-- ================================================== -->
                <!-- INPUT -->
                <!-- ================================================== -->

                <div
                    class="flex items-end border-t bg-gray-50 p-4 dark:bg-transparent"
                >

                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-rounded fuse-mat-bold w-full"
                        [subscriptSizing]="'dynamic'"
                    >

                        <textarea
                            matInput
                            cdkTextareaAutosize
                            #messageInput
                            [(ngModel)]="messageText"
                            (keydown)="onKeyDown($event)"
                            [disabled]="loading"
                            placeholder="Posez votre question..."
                        ></textarea>

                    </mat-form-field>


                    <div
                        class="my-px ml-4 flex h-11 items-center"
                    >

                        <button
                            mat-icon-button
                            type="button"
                            [disabled]="loading || !messageText.trim()"
                            (click)="sendMessage()"
                        >

                            <mat-icon
                                [svgIcon]="'heroicons_outline:paper-airplane'"
                            ></mat-icon>

                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<!-- ================================================== -->
<!-- SPEECH BUBBLE -->
<!-- ================================================== -->

<ng-template #speechBubbleExtension>

    <svg
        width="100%"
        height="100%"
        viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg"
    >

        <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
        >

            <path
                d="M1.01522827,0.516204834
                   C-8.83532715,54.3062744
                   61.7609863,70.5215303
                   64.8009949,64.3061218
                   C68.8074951,54.8859711
                   30.1663208,52.9997559
                   37.5036011,0.516204834
                   L1.01522827,0.516204834 Z"
                fill="currentColor"
                fill-rule="nonzero"
            ></path>

        </g>

    </svg>

</ng-template>